body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text-primary;
  font-weight: 400;
  line-height: 1.7;
}

#app {
  text-align: center;
  font-size: 1.6rem;
}